[submodule "PX4-Matrix"]
	path = PX4-Matrix
	url = git@github.com:matthewoots/PX4-Matrix.git
[submodule "eigen"]
	path = eigen
	url = git@github.com:PX4/eigen.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
